@use './typography' as *;
@use './variables' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

@layer base {
    body {
        margin: 0;
        padding: 0;
    }

    h1, .page-header {
        @apply text-3xl md:text-4xl text-stone-900 dark:text-white;
    }

    h2, .subheader {
        @apply text-2xl md:text-3xl text-stone-900 dark:text-white;
    }

    h3, .tableheader {
        @apply text-xl md:text-2xl text-stone-900 dark:text-white;
    }

    h4, .miniheader {
        @apply text-lg md:text-xl text-stone-900 dark:text-white;
    }

    .body-lg {
        @apply text-base md:text-lg text-stone-900 dark:text-white;
    }

    body, .body-md {
        @apply text-sm md:text-base text-stone-900 dark:text-white;
    }

    .body-sm {
        @apply text-xs md:text-sm text-stone-900 dark:text-white;
    }

    input.cell {
        @apply hidden;
    }
}

@layer components {
    .pill {
        @extend .body-sm;
        @apply flex justify-center items-center z-10 w-fit h-fit px-2 py-0.5;
        @apply font-semibold text-white rounded-lg line-clamp-1;
        @apply cursor-pointer hover:underline;

        &--misc {
            @extend .pill;
            @apply body-sm bg-slate-500;
        }

        &--pref {
            @extend .pill;
            @apply bg-red-500;
        }
    }

    .darkModeIcon {
        filter: invert(5%) sepia(93%) saturate(6937%) hue-rotate(277deg) brightness(90%) contrast(100%);
    }
}