@use '../../styles/globals' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply sticky top-0 z-50 flex shrink-0 w-full h-24 items-center;
        @apply border-b-2 border-b-stone-500 bg-white dark:bg-stone-900;

        &__brand {
            @apply p-4 text-2xl md:text-3xl font-semibold text-stone-900 dark:text-slate-300;
            @apply hover:shadow-md hover:shadow-stone-900 rounded-xl transition-all;

            &:active {
                @apply text-xl md:text-2xl;
            }

            &--dark {
                @apply hover:shadow-md hover:shadow-purple-200;
            }
        }

        &__brandTail {
            @apply px-2 text-purple-900 dark:text-purple-400 font-semibold;
            @apply border-2 border-purple-900 dark:border-purple-400 bg-white dark:bg-slate-900 rounded-xl;
        }
        
        &__mode {
            @apply w-16 h-16 p-1.5 flex flex-col justify-center items-center text-center;
            @apply shadow-md hover:shadow-stone-900 cursor-pointer rounded-xl;

            &--dark {
                @apply hover:shadow-md hover:shadow-purple-200;
            }
        }
    }
    .sideNav {
        @apply absolute w-12 h-12 ml-4;
        @apply active:rotate-180 transition-all rounded-lg cursor-pointer;

        &__icon {
            @apply w-full h-full;
            filter: invert(14%) sepia(54%) saturate(4216%) hue-rotate(266deg) brightness(88%) contrast(98%);
            
            &--dark {
                @apply w-full h-full;
                filter: invert(62%) sepia(10%) saturate(4901%) hue-rotate(219deg) brightness(98%) contrast(103%);
            }
        }
    }
    .signin {
        @apply flex flex-col justify-center w-16 h-16 p-1.5 mr-4;
        @apply hover:shadow-md hover:shadow-stone-900 rounded-lg transition-all;

        &:active {
            @apply h-[3.75rem] w-[3.75rem];
        }

        &--dark {
            @apply hover:shadow-md hover:shadow-purple-200;
        }

        &__icon {
            @apply w-full h-full;
            filter: invert(62%) sepia(10%) saturate(4901%) hue-rotate(219deg) brightness(98%) contrast(103%);
        }
    }
}

