@use '../../styles/globals' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .friend {
        &__icon {
            @apply w-2/3 h-2/3;
            filter: invert(5%) sepia(93%) saturate(6937%) hue-rotate(277deg) brightness(90%) contrast(100%);
        }

        &__card {
            filter: invert(14%) sepia(54%) saturate(4216%) hue-rotate(266deg) brightness(88%) contrast(98%);

            &--dark {
                filter: invert(62%) sepia(10%) saturate(4901%) hue-rotate(219deg) brightness(98%) contrast(103%);
            }
        }
    }
}